/* Logo */

#logo {
    display: inline-block;

    h1 {
        background: #ff4486;
        color: #fff;
        border-radius: 6px;
        font-family: 'Oleo Script', serif;
        font-weight: 400;
        padding: 0.25em 0.2em 0.25em 0.2em;
        font-size: 3.25em;
        letter-spacing: 0.05em;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        font-weight: 800;
        line-height: 4.5em;
        letter-spacing: 0.025em;
        font-size: 0.9em;
        vertical-align: middle;
        margin: 0 0 0 1.25em;
    }
}
