/* Container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;

    @include breakpoint('<=xlarge') {
        width: 1200px;
    }

    @include breakpoint('<=large') {
        width: 960px;
    }

    @include breakpoint('<=medium') {
        width: 90%;
    }

    @include breakpoint('<=small') {
        width: 100%;
    }
}
